{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <p class="hidden" id="token">{{ token }}</p>
    <p class="hidden" id="username">{{ user.username }}</p>
    <button id="join-leave">Join call</button>
    <button id="share-screen" disabled>Share screen</button>
    <p id="count">Disconnected.</p>
    <div class="participant w-full"></div>
    <div id="call-container" class="w-64">
      <div id="local" class="participant">
        <div></div>
        <div class="label">Me</div>
      </div>
      <!-- more participants will be added dynamically here -->
    </div>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/chat/v4.0/twilio-chat.min.js"></script>
    <script src="{% static 'js/chat.js' %}"></script>
  </body>
</html>
