{% extends 'base.html' %}{%block content%}
<div class="flex max-w-2lg pl-32">
  <div
    class="md:flex flex-1 shadow-lg ml-24 my-40 max-w-lg md:max-w-2xl w-full h-40"
  >
    <div class="w-full md:w-3/3 px-4 py-4 bg-white rounded-lg">
      <div class="flex items-center">
        <h2 class="text-xl text-gray-800 font-medium mr-auto">
          1. Apresentações
        </h2>
      </div>
      <p class="text-sm text-gray-700 mt-4">
        Aprenda como se apresentar, cumprimentar outras pessoas e usar 'estar' e
        'ser' em inglês
      </p>
      <div class="flex items-center justify-end mt-4 top-auto">
        <button class="bg-blue-600 text-gray-200 px-2 py-2 rounded-md">
          Get Started!
        </button>
      </div>
    </div>
  </div>
  <!-- item card -->
  <div
    class="md:flex flex-1 shadow-lg ml-24 my-40 max-w-lg md:max-w-2xl w-full h-40"
  >
    <div class="w-full md:w-3/3 px-4 py-4 bg-white rounded-lg">
      <div class="flex items-center">
        <h2 class="text-xl text-gray-800 font-medium mr-auto">
          2. Letras e Numeros
        </h2>
      </div>
      <p class="text-sm text-gray-700 mt-4">
        "Aprenda o alfabeto inglês e familiarize-se com alguns números em
        inglês"
      </p>
      <div class="flex items-center justify-end mt-4 top-auto">
        <button class="bg-blue-600 text-gray-200 px-2 py-2 rounded-md">
          Get Started
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock%}
