{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tailwind CSS Skeleton</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}" />

    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body class=" has-background-light">
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <h1 class="has-text-primary has-text-weight-bold"><i class="fas fa-university"></i> Learnr</h1>
        </a>
        <div class="navbar-burger burger" data-target="nav-contents">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    
      <div id="nav-contents" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'course' %}">
            Curso
          </a>
          <a class="navbar-item" href="{% url 'all_rooms' %}">
            Bate-Papo
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Conta
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                Perfil
              </a>
              <a class="navbar-item" href="{% url 'logout' %}">
                Sair
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container unit-container pt-6">
      {% block content %} {% endblock %}
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Learnr was built by <a href="https://github.com/aaronsnig501">Aaron Sinnott</a>
        </p>
      </div>
    </footer>
    <script>
      document.querySelector(".navbar-burger").addEventListener("click", () => {
        let navbarContents = document.querySelector("#nav-contents");
        if (navbarContents.style.display === "none" || navbarContents.style.display === "") {
          navbarContents.style.display = "block";
        } else {
          navbarContents.style.display = "none";
        }
        
      })
    </script>
    {% block extra_js %} {% endblock %}
  </body>
</html>
