{% extends 'course-base.html' %}{%block content%}

<div class="container">
  <div class="columns is-multiline">
  {% for item in structure %}
  <div class="column is-6">
    <div class="card">
      <header class="card-header">
        <h2 class="card-header-title">{{ item.display_title }}</h2>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{% if type == 'lesson'%}{{item.display_title|safe}}{%else%}{{item.description}}{% endif %}</p>
          </div>
        </div>
        <footer class="card-footer level mb-0">
          <span class="level-left m-0 p-0"></span>
          <a
            href="/course/{% if type == 'module'%}lesson/{{item.id}}{% elif type == 'lesson' %}unit/{{item.id}}{% else %}{{item.id}}{% endif %}"
            class="button is-link level-right m-3">Vamos!</a>
        </footer>
      </div>
    </div>
  {% endfor %}
</div>
</div>
{% endblock%}
