{% extends 'course-base.html' %}{% load static %}{%block content%}
<div class="panel columns">
  <div class="column is-3 has-background-white">
    <p class="panel-heading has-background-info has-text-white">
      Units
    </p>
    {% for lesson_unit in lesson_units %}
    <a class="panel-block is-active" href="/course/unit/{{ lesson_unit.id }}">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      {{ lesson_unit.title }}
    </a>
    {% endfor %}
  </div>
    
  <div class="column is-9 has-background-white">
    <p class="panel-heading has-background-info has-text-white">
      {{ unit.display_title }}
    </p>
    <div class="content-display px-4">
      <!-- prettier-ignore-->
      {% if unit.type == "challenge" %}
      <form method="POST" action="/course/challenge/{{ unit.id }}">
        {% csrf_token %} {{unit.description|safe}}
      </form>
      <!-- prettier-ignore -->
      {% else %} {{unit.description|safe}} {% endif %}
    </div>
  </div>
</div>

{%endblock%}
{% block extra_js %}
<script>
  tippy(".explanation", {
    content(reference) {
      const id = reference.getAttribute("data-template");
      const template = document.getElementById(id);
      return template.innerHTML;
    },
    allowHTML: true,
    trigger: "click",
  });
</script>
{% endblock %}
