{% extends 'course-base.html' %}{% load static %}{%block content%}

<div class="grid grid-cols-1 mt-40">
  <div class="content-wrapper bg-white w-4/5 p-6 rounded-lg m-auto">
    <h1 class="font-extrabold font-mono text-2xl">{{unit.display_title}}</h1>
    <div class="mt-6 text-lg font-mono">
      {% autoescape off %}{{unit.description}}{% endautoescape %}
    </div>
  </div>
</div>
<div class="text-center pt-6">
  {% if not unit.id == 1 %}
  <a class="pr-2" href="/course/unit/{{ unit.id|add:'-1' }}">Previous</a>
  {% endif %}
  <a class="pl-2" href="/course/unit/{{ unit.id|add:'1'}}">Next</a>
</div>
{%endblock%} {% block extra_js %}
<script>
  tippy(".explanation", {
    content(reference) {
      const id = reference.getAttribute("data-template");
      const template = document.getElementById(id);
      console.log(template, id);
      return template.innerHTML;
    },
    allowHTML: true,
    trigger: "click",
  });
</script>
{% endblock %}
