{% extends 'base.html' %}{%block content%}

<div class="grid grid-cols-2 pl-24">
  {% for unit in units %}
  <div class="md:flex shadow-lg ml-24 mt-40 max-w-lg md:max-w-2xl w-full h-40">
    <div class="w-full md:w-3/3 px-4 py-4 bg-white rounded-lg">
      <div class="flex items-center">
        <h2 class="text-xl text-gray-800 font-medium mr-auto">
          {{unit.display_title}}
        </h2>
      </div>
      <p class="text-sm text-gray-700 mt-4">{{unit.description}}</p>
      <div class="flex items-center justify-end mt-4 top-auto">
        <button class="bg-blue-600 text-gray-200 px-2 py-2 rounded-md">
          Get Started!
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock%}
