{% extends 'course-base.html' %}{% load static %}

{% block title %}{{unit.display_title}} | Learnr{% endblock %}

{%block content%}
<div class="panel columns">
  <div class="column is-2 is-offset-2 has-background-white">
    <p class="panel-heading has-background-info has-text-white">
      Unidades
    </p>
    <div class="pt-4">
    {% for lesson_unit in lesson_units %}
      {% if lesson_unit.title in completed_units %}
        <a class="panel-block" href="/course/unit/{{ lesson_unit.id }}">
          <span class="panel-icon">
            <i class="fas fa-check-circle has-text-success" aria-hidden="true"></i>
          </span>
          {{ lesson_unit.title }}

        </a>
      {% else %}
        <a class="panel-block is-active" href="/course/unit/{{ lesson_unit.id }}">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          {{ lesson_unit.title }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  </div>
    
  <div class="column is-6 has-background-white">
    <p class="panel-heading has-background-info has-text-white">
      {{ unit.display_title }}
    </p>
    <div class="content-display p-2">
      <!-- prettier-ignore-->
      {% if unit.type == "challenge" %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <div class="notification is-{{ message.tags }} is-light">
                <button class="delete"></button>
                {{ message }}
              </div>
            {% endfor %}
          </ul>
        {% endif %}
      <form method="POST" action="/course/challenge/{{ unit.id }}">
        {% csrf_token %} {{unit.description|safe}}
      </form>
      <!-- prettier-ignore -->
      {% else %} {{unit.description|safe}} {% endif %}
    </div>
  </div>
  
</div>
<div class="is-12 is-block">
  <nav class="pagination is-center is-block" role="navigation" aria-label="pagination">
    <a class="pagination-previous" href="/course/unit/{{ unit.id|add:'-1'}}?current={{unit.id|add:'-1'}}">Anterior</a>
    <a class="pagination-next" href="/course/unit/{{ unit.id|add:'1'}}?current={{unit.id}}">Próximo</a>
  </nav>
</div>


{%endblock%}
{% block extra_js %}
<script>
  tippy(".explanation", {
    content(reference) {
      const id = reference.getAttribute("data-template");
      const template = document.getElementById(id);
      return template.innerHTML;
    },
    allowHTML: true,
    trigger: "click",
  });
</script>
{% endblock %}
