{% extends 'base.html' %}{% load static %}{% block content %}
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1">Learnr</h1>
      <h2 class="subtitle is-size-4">
        Aprenda a falar e ler inglês não apenas com pequenos exercícios, mas com explicações completas sobre expressões, tempos verbais e conjugações.
      </h2>

      <a class="button is-link is-medium" href="{% if user.is_authenticated %}/course{% else %}/accounts/register{% endif %}">
        Vamos!
      </a>

    </div>
    
  </div>
</section>
{% endblock %}
