{% extends 'base.html' %}{% load static %}{% block content %}
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1">Learnr</h1>
      <h2 class="subtitle is-size-4">
        Learn to speak and read English not just from small exercises, but with
        thorough expanations of expressions, tenses and conjugations.
      </h2>

      <a class="button is-link is-medium" href="{% if user.is_authenticated %}/course{% else %}/accounts/register{% endif %}">
        Let's go!
      </a>

    </div>
    
  </div>
</section>
{% endblock %}
