{% extends 'accounts-base.html' %} {% block content %}
<div class="account-panel-wrapper lg:max-w-full lg:flex">
  <div class="account-panel lg:w-2/5">
    <div
      class="account-panel-left md:h-64 lg:w-56 lg:rounded-t-none lg:rounded-l"
    >
      <p class="account-panel-left-icon">
        <svg
          class="fill-current text-white w-3 h-3 mr-2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
          />
        </svg>
      </p>
      <h1 class="account-panel-left-title">Learnr</h1>
    </div>
    <div
      class="account-panel-right lg:border-l-0 lg:border-t lg:border-gray-400 lg:rounded-b-none lg:rounded-r md:w-64"
    >
      <div class="my-4">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="username"
            >
              Username
            </label>
            <input
              class="text-input focus:outline-none focus:shadow-outline"
              id="username"
              type="text"
              placeholder="Username"
              name="username"
            />
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="password"
            >
              Password
            </label>
            <input
              class="text-input focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="******************"
              name="password"
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="btn hover:bg-blue-700 focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Sign In
            </button>
            <a
              class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
              href="#"
            >
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
