{% extends 'accounts-base.html' %} 
{% block title %}Login para Learnr{% endblock %}
{% block content %}
<div class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <h3 class="title has-text-grey">Conecte-se</h3>

          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="username" type="text" placeholder="Email" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="password" type="password" placeholder="Senha">
              </div>
            </div>
            <div class="is-block mb-4">
              <a class="has-text-link" href="{% url 'register' %}">Não tem conta?</a>
            </div>
            <button class="button is-medium is-block is-primary is-fullwidth">Conecte-se</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
