{% extends 'accounts-base.html' %}
{% block title %}Registrar-se no Learnr{% endblock %}
{% block content %}
<div class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <h3 class="title has-text-grey">Registrar</h3>
          <div class="title has-text-grey is-5">Por favor entre com seu e-mail e senha.</div>

          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="firstname" type="text" placeholder="Primeiro nome" autofocus>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="lastname" type="text" placeholder="Sobrenome">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="email" type="email" placeholder="Email">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="password" type="password" placeholder="Senha">
              </div>
            </div>
            <div class="field">
              <div class="control select is-fullwidth mb-2">
                <select required name="first-lang" class="input is-medium">
                  <option value="" selected disabled hidden>Que língua você fala?</option>
                  {% for language in languages %}
                    <option value="{{ language.short_code }}">{{ language.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="field">
              <div class="control select is-fullwidth">
                <select required name="new-lang" class="input is-medium">
                  <option value="" selected disabled hidden>Que língua você está aprendendo?</option>
                  {% for language in languages %}
                    <option value="{{ language.short_code }}">{{ language.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="is-block mb-4 mt-5">
              <a class="has-text-link" href="{% url 'login' %}">Já tem conta?</a>
            </div>
            <button class="button is-block is-primary is-medium is-fullwidth">Registrar</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
